<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--Debug 本地开发程序根目录-->
		<add key="debug.A1.exe.path" value="E:GitHubRepo\ProgramCtrlHub\A1\bin\Debug\A1.exe"/>
		<add key="debug.A2.exe.path" value="E:GitHubRepo\ProgramCtrlHub\A2\bin\Debug\A2.exe"/>
		
		<!--Release 线上存储位置-->
		<add key="A1.exe.path" value="E:GitHubRepo\ProgramCtrlHub\A1\bin\Release\A1.exe"/>
		<add key="A2.exe.path" value="E:GitHubRepo\ProgramCtrlHub\A2\bin\Release\A2.exe"/>
		
	</appSettings>
</configuration>